{% extends 'student_navbar.html' %}
{% load static %}
{% block title %} All Students List {% endblock %}
{% block css %}
{% endblock %}

{% block body %}

<div class="container mt-4">
  <div class="row">
  <h1 class="text-center">Book issued to you!!</h1>
  {%if li1 %}
  <table class="table table-hover" id="example">
    <thead>
    <tr class="text-center">
      <th>Sr. No</th>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Book Name</th>
      <th>Author</th>
    </tr>
    </thead>
    <tbody>
    {% for i in li1 %}
    <tr class="text-center">
      <td>{{forloop.counter}}</td>
      <td>{{i.0}}</td>
      <td>{{i.1}}</td>
      <td>{{i.2}}</td>
      <td>{{i.3}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
  <div class="row ">
    <table class="table table-hover" >
      <thead>
      <tr>
        <th>Issued Date</th>
        <th>Expiry Date</th>
        <th>Fine</th>
      </tr>
      </thead>
      <tbody>
      {% for i in li2 %}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h1>No book issued to you !!</h1>
  {% endif %}
</div>
{% endblock %}
